<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dw.dao.ProcessDAO">

	<insert id="insertProcess" parameterType="process">
		INSERT 	INTO process (pc_no, pc_code, pc_name, pc_order) 
				VALUES (pc_no_seq.nextVal,#{pc_code},#{pc_name},#{pc_order})
	</insert>
	
	<sql id="search">
		<if test="searchType == 'number'.toString()">
			AND pc_no LIKE '%' || #{keyword} || '%'
		</if>
		<if test="searchType == 'code'.toString()">
			AND pc_code LIKE '%' || #{keyword} || '%'
		</if>
		<if test="searchType == 'title'.toString()">
			AND pc_name LIKE '%' || #{keyword} || '%'
		</if>
		<if test="searchType == 'nnc'.toString()">
			AND (
			pc_no LIKE '%' || #{keyword} || '%'
			OR
			pc_code LIKE '%' || #{keyword} || '%'
			OR
			pc_name LIKE '%' || #{keyword} || '%'
			)
		</if>
	</sql>
	
	<!-- 셀렉트할때는 리절트타입 필요하고 insert delete 등할때는 파라미터 타입이 들어감 -->
	<select id="selectSearchProcessList" resultType="process">
		SELECT *
		  FROM process
		 WHERE 1=1
		 <include refid="search"/>
		 ORDER BY pc_no desc
	</select>
	
	<select id="selectSearchProcessListCount" resultType="int">
		SELECT COUNT(*)
		  FROM process
		 WHERE 1=1
		 <include refid="search"/>
	</select>
	
	<select id="selectProcess" resultType="process">
		SELECT 	*
		FROM	process
		WHERE	pc_code = #{pc_code}
	</select>
	
	<delete id="deleteProcess" parameterType="str">
		DELETE
		FROM	process
		WHERE	pc_code = #{pc_code}
	</delete>
	
	<update id="updateProcess" parameterType="process">
		UPDATE process
		SET 
			pc_code = #{pc_code}
			,pc_name = #{pc_name}
			,pc_order = #{pc_order}
		WHERE pc_code = #{pc_code}
	</update>
</mapper>