h1.title {
    background-color: black;
    color: white;
}

div.question {
    border: 3px solid blue;
    padding: 1em;
    margin: 3em;
}

div.questionStart {
    border: 3px solid red;
    padding: 1em;
    margin: 3em;
}

/* 23.03.16 첫번째 문제 : 아이디 CSS 추가 */
    .style {
        background-color: black;
        color: white;
    }
/*  */

/* 23.03.20 Drag 문제 */
    div.box {
        border: 1px solid black;
        width: 200px;
        height: 100px;
        margin: 1em;
        padding: 1em;
        float: left;
    }
    
    div.resultBox {
        border: 1px solid tomato;
        width: 200px;
        height: 100px;
        margin: 1em;
        padding: 1em;
    }

    div.moveBox {
        border: 1px solid black;
        width: 50px;
        height: 50px;
        margin: 1em;
        padding: 1em;
        float: left;
        background-color: aqua;
    }
    
    div.dragoverCSS {
        background-color: orange;
    }

    div.dragleaveCSS {
        background-color: red;
    }

    div.dropCSS {
        background-color: blue;
    }
    /*  */

    /* 23.03.21 Counter 문제 */
    button.countBtn {
        padding: 10px;
        font-size: 1.2em;
    }
    /*  */

/*  */