<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dw.dao.MemberDAO">
	
	<select id="selectMemberById" parameterType="str" resultType="member">
	<!-- MemberDAO.selectMemberById -->
		SELECT *
		  FROM member
		 WHERE id = #{id}
	</select>
	
	<select id="selectAllMemberList" resultType="member">
		SELECT *
		  FROM member
		 ORDER BY regdate desc
	</select>
	
	<insert id="insertMember" parameterType="member">
		INSERT INTO member (
							id
							,pwd
							,email
							,picture
							,enabled
							,regdate
							,phone
							,name
							,register
							,address
							,authority
							)
					VALUES	(
							#{id}
							,#{pwd}
							,#{email}
							,#{picture}
							,1
							,sysdate
							,#{phone}
							,#{name}
							,'SYSTEM'
							,'굴다리'
							,#{authority}
					)
	</insert>

</mapper>